@import '../../libs/core/core';

#year_form
{
	position: absolute;
	top: 8px;
	right: 13px;
	z-index: 2;

	.selection.ui.dropdown
	{
		padding: 0.64em 1.1em;
	}
}

#filter_form
{
	label
	{
		line-height: 34px;

		input, .ui.selection.dropdown
		{
			margin-left: 6px;
		}
	}
}

#filter_customer_id
{
	width: 175px;
}

.no-data
{
	margin: 16px 0 18px 10px;
}

.mfadmin-container
{
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;

	&.is-loading
	{
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

@import 'tabs/customers';