@import '../main';
@import '../libs/semanticui';

html
{
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

$header-height: 65px;

#header
{
	height: $header-height;
	line-height: $header-height;
}

.no-data-text
{
	display: block;
	text-align: center;
	line-height: 33px;
	color: #CCC;
}

.ui.segment.loading-container
{
	font-size: .9em;
}