@import '../../../public/libs/bower/sass-mediaqueries/media-queries';
@import '../../../public/libs/bower/sass-mixins/mixins';

%clearfix
{
	&:after
	{
		clear: both;
		content: '';
		display: table;
	}
}